<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Productos</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/icon.png">

        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="css/vendors.min.css"/>
        <link rel="stylesheet" href="css/icon.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/responsive.css"/>
        <link rel="stylesheet" href="demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic">  
        <!-- start header -->
        <%- include('components/nav.ejs') %>

        <section class="page-title-big-typography bg-dark-gray mb-0 pb-0 mt-0 pt-50px" data-parallax-background-ratio="0.5" style="background-image: url(images/demo-conference-page-bg.jpg)">
            <div class="container pt-125px  xs-pb-0 xs-pt-100px">
                <div class="row align-items-center justify-content-center pb-40px xs-pb-20px">
                    <div class="col-md-12 text-center page-title-extra-large">
                        <h1 class="mb-10px text-white alt-font fw-600 ls-minus-5px">
                            <span data-anime='{ "opacity": [0, 1], "easing": "easeOutQuad", "duration": 1000, "delay": 300 }'>Productos</span>
                        </h1>
                        <span class="text-white fs-24 xs-fs-20" data-anime='{ "opacity": [0, 1], "easing": "easeOutQuad", "duration": 1000, "delay": 300 }'>Todo lo que buscas en un mismo lugar</span>
                        
                    </div>
                    <!-- <div class="col-md-12 text-center">
                        <input class="input-name input-search w-70" type="text" name="email" placeholder="Buscar Producto/s" />
                            <button class="btn-search btn btn-dark-gray btn-hover-animation btn-round-edge btn-box-shadow " type="submit">
                            <i class="bi bi-search text-white"></i>
                        </button> 
                    </div> -->
                </div>
                <div class="row align-items-center justify-content-center pb-30px">
                    <a href="/contacto" class="btn btn-extra-large btn-cta-color btn-hover-animation btn-rounded btn-box-shadow align-self-center lg-mt-20px sm-mt-5px xs-mt-20px" data-anime='{ "opacity": [0, 1], "translateY": [50, 0], "easing": "easeOutCubic", "duration": 1000, "delay": 800 }'>
                        <span>
                            <span class="btn-text">Contactanos</span> 
                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                        </span>
                    </a>
                </div>
            </div>
        </section>

        <!-- <section class="bg-midnight-blue pt-0 half-section d-none d-md-block mt-0 mb-0 pt-0 pb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="p-0 overlap-section text-start ps-7" data-anime='{ "opacity": [0, 1], "translateY": [50, 0], "delay": 1000, "duration": 600, "easing": "easeOutQuad" }'>
                        <img src="images/demo-conference-02.png" alt="" class="animation-rotation">
                    </div>
                </div> 
            </div>
        </section> -->
        <!-- end section -->
        <!-- <section class="bg-midnight-blue pt-50px pb-0 mt-0 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="email" placeholder="Buscar Producto/s" />
                            <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit">
                            <i class="bi bi-search text-white"></i>
                        </button> 
                    </div>
                </div>
            </div>
        </section> -->
        <!-- start section -->
       
        <section class="bg-midnight-blue pt-50px">
            <div class="container">
                <h3 class="text-dark xs-mb-0 xs-text-center fw-500 text-center">Destacados</h3>
                <div class="mb-10px row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-sm-2">  
                    <% products.forEach((product, index) => { %>
                        <% if (product.section === 'destacados') { %>
                        <div class="p-0 h-200px xs-h-auto product-item-destacados" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }' <% if (index >= 6) { %> style="display: none;" <% } %> >
                            <div class="d-flex product-card p-1 m-10px align-items-center">
                                <div class="col-4">
                                    <img src="<%= product.image %>" alt="" class="card-img-top">
                                </div>
                                <div class="col-8 pl-20px">
                                    <h6 class="text-white mb-0px"><%= product.name %></h6>
                                    <p class="text-white mb-0">$ <%= product.price %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="text-center">
                    <button id="view-more-btn-destacados" class="btn btn-primary">Ver más</button>                 
                </div>
            </div>
        </section>

        <section class="bg-midnight-blue pt-50px">
            <div class="container">
                <h3 class="text-dark xs-mb-0 xs-text-center fw-500 text-center">Nuevos Ingresos</h3>
                <div class="mb-10px row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-sm-2">  
                    <% products.forEach((product, index) => { %>
                        <% if (product.section === 'nuevos-ingresos') { %>
                        <div class="p-0 h-200px product-item-nuevosIngresos" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }' <% if (index >= 6) { %> style="display: none;" <% } %> >
                            <div class="d-flex product-card p-1 m-10px align-items-center">
                                <div class="col-4">
                                    <img src="<%= product.image %>" alt="" class="card-img-top">
                                </div>
                                <div class="col-8 pl-20px">
                                    <h6 class="text-white mb-0px"><%= product.name %></h6>
                                    <p class="text-white mb-0">$ <%= product.price %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="text-center">
                    <button id="view-more-btn-nuevosIngresos" class="btn btn-primary">Ver más</button>                 
                </div>
            </div>
        </section>

        <section class="bg-midnight-blue pt-50px">
            <div class="container">
                <h3 class="text-dark xs-mb-0 xs-text-center fw-500 text-center">Mas Vendidos</h3>
                <div class="mb-10px row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-sm-2">  
                    <% products.forEach((product, index) => { %>
                        <% if (product.section === 'mas-vendidos') { %>
                        <div class="p-0 h-200px product-item-masVendidos" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }' <% if (index >= 6) { %> style="display: none;" <% } %> >
                            <div class="d-flex product-card p-1 m-10px align-items-center">
                                <div class="col-4">
                                    <img src="<%= product.image %>" alt="" class="card-img-top">
                                </div>
                                <div class="col-8 pl-20px">
                                    <h6 class="text-white mb-0px"><%= product.name %></h6>
                                    <p class="text-white mb-0">$ <%= product.price %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="text-center">
                    <button id="view-more-btn-masVendidos" class="btn btn-primary">Ver más</button>                 
                </div>
            </div>
        </section>

        <%- include('components/footer.ejs') %>

        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/nav.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script>
            document.getElementById('view-more-btn-destacados').addEventListener('click', function() {
                const productItems = document.querySelectorAll('.product-item-destacados');
                productItems.forEach((item, index) => {
                    if (index >= 6) {
                        item.style.display = 'block';
                    }
                });
                this.style.display = 'none'; // Ocultar el botón "Ver más" después de hacer clic
            });

            document.getElementById('view-more-btn-nuevosIngresos').addEventListener('click', function() {
                const productItems = document.querySelectorAll('.product-item-nuevosIngresos');
                productItems.forEach((item, index) => {
                    if (index >= 6) {
                        item.style.display = 'block';
                    }
                });
                this.style.display = 'none'; // Ocultar el botón "Ver más" después de hacer clic
            });

            document.getElementById('view-more-btn-masVendidos').addEventListener('click', function() {
                const productItems = document.querySelectorAll('.product-item-masVendidos');
                productItems.forEach((item, index) => {
                    if (index >= 6) {
                        item.style.display = 'block';
                    }
                });
                this.style.display = 'none'; // Ocultar el botón "Ver más" después de hacer clic
            });
        </script>
    </body>
</html>