<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Admin - Integrantes</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="/../css/vendors.min.css"/>
        <link rel="stylesheet" href="/../css/icon.min.css"/>
        <link rel="stylesheet" href="/../css/style.css"/>
        <link rel="stylesheet" href="/../css/responsive.css"/>
        <link rel="stylesheet" href="/../demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic" class="bg-admin">  
        
        <%- include('../components/adminNav.ejs') %>

        <section>
            <div class="container adminContainer pt-0" style="max-width: 100% !important">
                <div class="row mt-1 mb-2">
                    <div class="col-md-12">
                        <h3 class="text-white text-center"><b>Admin</b> Panel</h3>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ">
                        
                            <div class="col-md-6 text-end">
                                <form action="/admin/integrantes/search" method="GET">
                                    <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="integrante" placeholder="Buscar Integrante" />
                                    <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit"><i class="bi bi-search text-white"></i></button> 
                                </form>
                            </div>
                            <div class="col-md-6 text-left">
                                <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit" data-toggle="modal" data-target="#">
                                    <span> 
                                        <span class="btn-text">Importar Masivamente</span> 
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                                    </span>
                                </button>
                                <button class=" btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" data-toggle="modal" data-target="#crearIntegranteModal">
                                    <span>
                                        <span class="btn-text">Crear Nuevo Integrante</span>
                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-70px">
                    <div class="col-md-2 sidebar-admin text-white">
                        <a href="/admin/productos" class="fs-28 adminLinks">Productos</a>
                        
                        <a href="/admin/proveedores" class="fs-28 adminLinks">Proveedores</a>
                        
                        <a href="/admin/integrantes" class="fs-28 adminLinks  text-base-color fw-600" >Integrantes</a>
                    </div>
                    <div class="col-md-10 list-admin">
                        <div class="row text-white">
                            <div class="col-md-2">
                                <h6 class="fw-600">Imagen</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Nombre</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Direccion</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Localidad</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Provincia</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Opciones</h6>
                            </div>
                        </div>

                        <% if (typeof result !== 'undefined' && result.length >= 0) { %>
                            <% result.forEach(member => { %>
                                <div class="row mb-2 product-row">
                                    <div class="col-md-2 team-style-08">
                                        <figure class="mb-0 position-relative">

                                            <% if (member.image) { %>
                                                <img src="<%= member.image %>" alt="<%= member.name %>" class="img-fluid border-radius-6px">
                                                <% } else { %>
                                                <p>No Image</p>
                                            <% } %>

                                            
                                            <figcaption class="w-100 h-100 d-flex align-items-end p-12 lg-p-8 img-gradient border-radius-6px">
                                                <div class="social-icon d-flex flex-column flex-shrink-1 w-100">
                                                    <button class="w-100 btn btn-medium btn-dark btn-hover-animation btn-round-edge btn-box-shadow" type="submit" data-target="#editarImagenMemberModal-<%= member._id %>" data-toggle="modal">
                                                        <span>
                                                            <span class="btn-text">Editar Imagen</span>
                                                            <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= member.name %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= member.address %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= member.city %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= member.province %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
                                        <button type="button" class="btn btn-primary w-30 fs-20" data-target="#expandirMemberModal-<%= member._id %>" data-toggle="modal">
                                            <i class="ml-0px bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <button type="button" class="btn btn-success w-30" data-target="#editarMemberModal-<%= member._id %>" data-toggle="modal">
                                            <i class="ml-0px bi bi-pencil-square"></i>
                                        </button>
                                        <form method="POST" action="/admin/integrantes/delete/<%= member._id %>" class="w-30">
                                            <button type="submit" href="/" class="btn btn-danger w-100">
                                                <i class="ml-0px bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="modal fade" id="editarMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="editarMemberModal-<%= member._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editarMemberModalLabel">Editar <%= member.name %></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                    border: none;
                                                    font-size: 40px;
                                                    color: red">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                </div>
                                                <div class="modal-body">
    
                                                    <form action="/admin/integrantes/update/<%= member._id %>" method="POST">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for=" text-primary">Nombre</label>
                                                                <input type="text" class="form-control" name="name" value="<%= member.name %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="">Nombre de Negocio</label>
                                                                <input type="text" class="form-control" name="businessName" value="<%= member.businessName %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <label for="">Nombre de Fantasia</label>
                                                                <input type="text" class="form-control" name="fantasyName" value="<%= member.fantasyName %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="">Direccion</label>
                                                                <input type="text" class="form-control" name="address" value="<%= member.address %>">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-4">
                                                                <label for="">Ciudad</label>
                                                            <input type="text" class="form-control" name="city" value="<%= member.city %>">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="">Provincia</label>
                                                                <input type="text" class="form-control" name="province" value="<%= member.province %>">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="">ZIP</label>
                                                                <input type="text" class="form-control" name="postalCode" value="<%= member.postalCode %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="expandirMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="expandirMemberModal-<%= member._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="expandirMemberModalLabel">Detalles de <%= member.name %></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                border: none;
                                                font-size: 40px;
                                                color: red">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Nombre: <b><%= member.name %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Nombre de Negocio: <b><%= member.businessName %></b></p>
                                                    </div>
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-6">
                                                        <p>Nombre de Fantasia: <b><%= member.fantasyName %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Direccion: <b><%= member.address %></b></p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-6">
                                                        <p>Ciudad: <b><%= member.city %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Provincia: <b><%= member.province %></b></p>
                                                    </div>
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-12">
                                                        <p>ZIP: <b><%= member.postalCode %></b></p>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal fade" id="editarImagenMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="editarImagenMemberModal" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editarImagenMemberModalLabel">Editar Imagen de <%= member.name %></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                    border: none;
                                                    font-size: 40px;
                                                    color: red">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <form action="/admin/integrantes/update-image/<%= member._id %>" method="POST" enctype="multipart/form-data"> 
                                                        <div class="form-group mt-20px">
                                                            <input type="file" class="form-control" name="image" accept="image/*">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>

                            <% if (result.length === 0) { %>
                                <div class="row mb-2 product-row">
                                    <h3 class="text-white">No hay coincidencias</h3>
                                </div>
                            <% } %>
                        <% } %>

                        <% members.forEach(member => { %>
                            <div class="row mb-2 product-row">
                                <div class="col-md-2 team-style-08">
                                    <figure class="mb-0 position-relative">

                                        <% if (member.image) { %>
                                            <img src="<%= member.image %>" alt="<%= member.name %>" class="img-fluid border-radius-6px">
                                            <% } else { %>
                                            <p>No Image</p>
                                        <% } %>

                                        
                                        <figcaption class="w-100 h-100 d-flex align-items-end p-12 lg-p-8 img-gradient border-radius-6px">
                                            <div class="social-icon d-flex flex-column flex-shrink-1 w-100">
                                                <button class="w-100 btn btn-medium btn-dark btn-hover-animation btn-round-edge btn-box-shadow" type="submit" data-target="#editarImagenMemberModal-<%= member._id %>" data-toggle="modal">
                                                    <span>
                                                        <span class="btn-text">Editar Imagen</span>
                                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-2 text-white align-self-center">
                                    <p class="mb-0"><%= member.name %></p>
                                </div>
                               
                                <div class="col-md-2 text-white align-self-center">
                                    <p class="mb-0"><%= member.address %></p>
                                </div>
                                <div class="col-md-2 text-white align-self-center">
                                    <p class="mb-0"><%= member.city %></p>
                                </div>
                                <div class="col-md-2 text-white align-self-center">
                                    <p class="mb-0"><%= member.province %></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-primary w-30 fs-20" data-target="#expandirMemberModal-<%= member._id %>" data-toggle="modal">
                                        <i class="ml-0px bi bi-arrows-angle-expand"></i>
                                    </button>
                                    <button type="button" class="btn btn-success w-30" data-target="#editarMemberModal-<%= member._id %>" data-toggle="modal">
                                        <i class="ml-0px bi bi-pencil-square"></i>
                                    </button>
                                    
                                    <form method="POST" action="/admin/integrantes/delete/<%= member._id %>" class="w-30">
                                        <button type="submit" href="/" class="btn btn-danger w-100">
                                            <i class="ml-0px bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>

                                <div class="modal fade" id="editarMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="editarMemberModalLabel-<%= member._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editarMemberModalLabel">Editar <%= member.name %></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                border: none;
                                                font-size: 40px;
                                                color: red">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                            </div>
                                            <div class="modal-body">

                                                <form action="/admin/integrantes/update/<%= member._id %>" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for=" text-primary">Nombre</label>
                                                            <input type="text" class="form-control" name="name" value="<%= member.name %>">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">Nombre de Negocio</label>
                                                            <input type="text" class="form-control" name="businessName" value="<%= member.businessName %>">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-20px">
                                                        <div class="col-md-6">
                                                            <label for="">Nombre de Fantasia</label>
                                                            <input type="text" class="form-control" name="fantasyName" value="<%= member.fantasyName %>">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">Direccion</label>
                                                            <input type="text" class="form-control" name="address" value="<%= member.address %>">
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row mt-20px">
                                                        <div class="col-md-4">
                                                            <label for="">Ciudad</label>
                                                        <input type="text" class="form-control" name="city" value="<%= member.city %>">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">Provincia</label>
                                                            <input type="text" class="form-control" name="province" value="<%= member.province %>">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">ZIP</label>
                                                            <input type="text" class="form-control" name="postalCode" value="<%= member.postalCode %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="expandirMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="expandirMemberModal-<%= member._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="expandirMemberModalLabel">Detalles de <%= member.name %></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                border: none;
                                                font-size: 40px;
                                                color: red">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Nombre: <b><%= member.name %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Nombre de Negocio: <b><%= member.businessName %></b></p>
                                                    </div>
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-6">
                                                        <p>Nombre de Fantasia: <b><%= member.fantasyName %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Direccion: <b><%= member.address %></b></p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-6">
                                                        <p>Ciudad: <b><%= member.city %></b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Provincia: <b><%= member.province %></b></p>
                                                    </div>
                                                </div>
                                                <div class="row mt-20px">
                                                    <div class="col-md-12">
                                                        <p>ZIP: <b><%= member.postalCode %></b></p>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="editarImagenMemberModal-<%= member._id %>" tabindex="-1" aria-labelledby="editarImagenMemberModal" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editarImagenProductoModalLabel">Editar Imagen de <%= member.name %></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                border: none;
                                                font-size: 40px;
                                                color: red">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <form action="/admin/integrantes/update-image/<%= member._id %>" method="POST" enctype="multipart/form-data"> 
                                                    <div class="form-group mt-20px">
                                                        <input type="file" class="form-control" name="image" accept="image/*">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>
       
        <div class="modal fade" id="crearIntegranteModal" tabindex="-1" aria-labelledby="crearIntegranteModalLabel" aria-hidden="true"  data-target=".bd-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearIntegranteModalLabel">Crear Nuevo Integrante</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario para crear un nuevo producto -->
                        <form action="/admin/integrantes/create" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Nombre</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Nombre de Negocio</label>
                                    <input type="text" class="form-control" name="businessName">
                                </div>
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="">Nombre de Fantasia</label>
                                    <input type="text" class="form-control" name="fantasyName">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Direccion</label>
                                    <input type="text" class="form-control" name="address">
                                </div>
                                
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-4">
                                    <label for="">Ciudad</label>
                                    <input type="text" class="form-control" name="city">
                                </div>
                                <div class="col-md-4">
                                    <label for="">Provincia</label>
                                    <input type="text" class="form-control" name="province">
                                </div>
                                <div class="col-md-4">
                                    <label for="">ZIP</label>
                                    <input type="text" class="form-control" name="postalCode">
                                </div>
                            </div> 
                            <div class="form-group mt-20px">
                                <label for="">Imagen</label>
                                <input type="file" class="form-control" name="image" accept="image/*">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/../js/jquery.js"></script>
        <script type="text/javascript" src="/../js/vendors.min.js"></script>
        <script type="text/javascript" src="/../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
