<!doctype html>
<html class="no-js" lang="es">
    <head>
        <title>Red Futura | Admin - Productos</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="/../css/vendors.min.css"/>
        <link rel="stylesheet" href="/../css/icon.min.css"/>
        <link rel="stylesheet" href="/../css/style.css"/>
        <link rel="stylesheet" href="/../css/responsive.css"/>
        <link rel="stylesheet" href="/../demos/conference/conference.css" />
    </head>
    <body data-mobile-nav-style="classic" class="bg-midnight-blue">  
        
        <%- include('../components/adminNav.ejs') %>
        
        <section>
            <div class="container adminContainer pt-0" style="max-width: 100% !important">
                <div class="row mt-1 mb-2">
                    <div class="col-md-12">
                        <h3 class="text-white text-center"><b>Admin</b> Panel</h3>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                        
                            <div class="col-md-6 text-end">
                                <form action="/admin/productos/search" method="GET">
                                    <input class="input-name bg-transparent border-color-transparent-white-light w-70" type="text" name="product" placeholder="Buscar Producto" />
                                    <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit"><i class="bi bi-search text-white"></i></button> 
                                </form>
                            </div>
                            <div class="col-md-6 text-left">
                                <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit" data-toggle="modal" data-target="#importarProductoModal">
                                    <span> 
                                        <span class="btn-text">Importar Masivamente</span> 
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                                    </span>
                                </button>
                                <button class=" btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" data-toggle="modal" data-target="#crearProductoModal">
                                    <span>
                                        <span class="btn-text">Crear Nuevo Producto</span>
                                        <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-70px">
                    <div class="col-md-2 sidebar-admin text-white">
                        <a href="/admin/productos" class="fs-28 adminLinks text-base-color fw-600">Productos</a>
                        
                        <a href="/admin/proveedores" class="fs-28 adminLinks">Proveedores</a>
                        
                        <a href="/admin/integrantes" class="fs-28 adminLinks" >Integrantes</a>
                    </div>
                    <div class="col-md-10 list-admin">
                        <div class="row text-white">
                            <div class="col-md-2">
                                <h6 class="fw-600">Imagen</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Nombre</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Linea</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Marca</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="fw-600">Articulo</h6>
                            </div>
                            <div class="col-md-2 ">
                                <h6 class="fw-600">Opciones</h6>
                            </div>
                        </div>
                            <% if (typeof result !== 'undefined' && result.length >= 0) { %>
                                <% result.forEach(product => { %>
                                    <div class="row mb-2 product-row">
                                        <div class="col-md-2 team-style-08">
                                            <figure class="mb-0 position-relative">
    
                                                <% if (product.image) { %>
                                                    <img src="<%= product.image %>" alt="<%= product.name %>" class="img-fluid border-radius-6px">
                                                    <% } else { %>
                                                    <p>No Image</p>
                                                <% } %>
    
                                                
                                                <figcaption class="w-100 h-100 d-flex align-items-end p-12 lg-p-8 img-gradient border-radius-6px">
                                                    <div class="social-icon d-flex flex-column flex-shrink-1 w-100">
                                                        <button class="w-100 btn btn-medium btn-dark btn-hover-animation btn-round-edge btn-box-shadow" type="submit" data-target="#editarImagenProductoModal-<%= product._id %>" data-toggle="modal">
                                                            <span>
                                                                <span class="btn-text">Editar Imagen</span>
                                                                <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-2 text-white align-self-center">
                                            <p class="mb-0"><%= product.name %></p>
                                        </div>
                                        <div class="col-md-2 text-white align-self-center">
                                            <p class="mb-0"><%= product.category %></p>
                                        </div>
                                        <div class="col-md-2 text-white align-self-center">
                                            <p class="mb-0"><%= product.brand %></p>
                                        </div>
                                        <div class="col-md-2 text-white align-self-center">
                                            <p class="mb-0"><%= product.article %></p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
                                            <button type="button" class="btn btn-primary w-30 fs-20" data-target="#expandirProductoModal-<%= product._id %>" data-toggle="modal">
                                                <i class="ml-0px bi bi-arrows-angle-expand"></i>
                                            </button>
                                            <button type="button" class="btn btn-success w-30" data-target="#editarProductoModal-<%= product._id %>" data-toggle="modal">
                                                <i class="ml-0px bi bi-pencil-square"></i>
                                            </button>
                                            
                                            <form method="POST" action="/admin/productos/delete/<%= product._id %>" class="w-30">
                                                <button type="submit" href="/" class="btn btn-danger w-100">
                                                    <i class="ml-0px bi bi-trash"></i>
                                                </button>
                                            </form>
                                        </div>
    
                                        <div class="modal fade" id="editarProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="editarProductoModalLabel-<%= product._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editarProductoModalLabel">Editar <%= product.name %></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                        border: none;
                                                        font-size: 40px;
                                                        color: red">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                    </div>
                                                    <div class="modal-body">
    
                                                        <form action="/admin/productos/update/<%= product._id %>" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto text-primary">Nombre</label>
                                                                    <input type="text" class="form-control" name="name" value="<%= product.name %>">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Categoria</label>
                                                                    <input type="text" class="form-control" name="category" value="<%= product.category %>">
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Marca</label>
                                                                    <input type="text" class="form-control" name="brand" value="<%= product.brand %>">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Articulo</label>
                                                                    <input type="text" class="form-control" name="article" value="<%= product.article %>">
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Vendedor</label>
                                                                <input type="text" class="form-control" name="supplier" value="<%= product.supplier %>">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Modelo</label>
                                                                    <input type="text" class="form-control" name="model" value="<%= product.model %>">
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">SKU</label>
                                                                    <input type="text" class="form-control" name="sku" value="<%= product.sku %>">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">EAN</label>
                                                                    <input type="text" class="form-control" name="eanCode" value="<%= product.eanCode %>">
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Costo</label>
                                                                    <input type="text" class="form-control" name="cost" value="<%= product.cost %>">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="nombreProducto">Precio</label>
                                                                    <input type="text" class="form-control" name="price" value="<%= product.price %>">
                                                                </div>
                                                            </div>
                                                                      
                                                            <div class="form-group text-center">
                                                                <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="modal fade" id="expandirProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="expandirProductoModal-<%= product._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="expandirProductoModalLabel">Detalles de <%= product.name %></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                        border: none;
                                                        font-size: 40px;
                                                        color: red">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                    </div>
                                                    <div class="modal-body">
    
                                                        <div class="row">
                                                                <div class="col-md-6">
                                                                    <p>Nombre: <b><%= product.name %></b></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Categoria: <b><%= product.category %></b></p>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <p>Marca: <b><%= product.brand %></b></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Articulo: <b><%= product.brand %></b></p>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <p>Vendedor: <b><%= product.supplier %></b></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Modelo: <b><%= product.model %></b></p>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <p>SKU: <b><%= product.sku %></b></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>EAN: <b><%= product.eanCode %></b></p>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-20px">
                                                                <div class="col-md-6">
                                                                    <p>Costo: $ <b><%= product.cost %></b></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Precio: $ <b><%= product.price %></b></p>
                                                                </div>
                                                            </div>
                                                    
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="modal fade" id="editarImagenProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="editarImagenProductoModal" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editarImagenProductoModalLabel">Editar Imagen de <%= product.name %></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                        border: none;
                                                        font-size: 40px;
                                                        color: red">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
    
                                                        <form action="/admin/productos/update-image/<%= product._id %>" method="POST" enctype="multipart/form-data"> 
                                                            <div class="form-group mt-20px">
                                                                <input type="file" class="form-control" name="image" accept="image/*">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>

                                <% if (result.length === 0) { %>
                                    <div class="row mb-2 product-row">
                                        <h3 class="text-white">No hay coincidencias</h3>
                                    </div>
                                <% } %>
                            <% } %>


                            <!--VISUALIZACION DE PRODUCTOS -->
                            <% products.forEach(product => { %>
                                <div class="row mb-2 product-row">
                                    <div class="col-md-2 team-style-08">
                                        <figure class="mb-0 position-relative">

                                            <% if (product.image) { %>
                                                <img src="<%= product.image %>" alt="<%= product.name %>" class="img-fluid border-radius-6px">
                                                <% } else { %>
                                                <p>No Image</p>
                                            <% } %>

                                            
                                            <figcaption class="w-100 h-100 d-flex align-items-end p-12 lg-p-8 img-gradient border-radius-6px">
                                                <div class="social-icon d-flex flex-column flex-shrink-1 w-100">
                                                    <button class="w-100 btn btn-medium btn-dark btn-hover-animation btn-round-edge btn-box-shadow" type="submit" data-target="#editarImagenProductoModal-<%= product._id %>" data-toggle="modal">
                                                        <span>
                                                            <span class="btn-text">Editar Imagen</span>
                                                            <span class="btn-icon"><i class="fas fa-arrow-right"></i></span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= product.name %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= product.category %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= product.brand %></p>
                                    </div>
                                    <div class="col-md-2 text-white align-self-center">
                                        <p class="mb-0"><%= product.article %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
                                        <button type="button" class="btn btn-primary w-30 fs-20" data-target="#expandirProductoModal-<%= product._id %>" data-toggle="modal">
                                            <i class="ml-0px bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <button type="button" class="btn btn-success w-30" data-target="#editarProductoModal-<%= product._id %>" data-toggle="modal">
                                            <i class="ml-0px bi bi-pencil-square"></i>
                                        </button>
                                        
                                        <form method="POST" action="/admin/productos/delete/<%= product._id %>" class="w-30">
                                            <button type="submit" href="/" class="btn btn-danger w-100">
                                                <i class="ml-0px bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="modal fade" id="editarProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="editarProductoModalLabel-<%= product._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editarProductoModalLabel">Editar <%= product.name %></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                    border: none;
                                                    font-size: 40px;
                                                    color: red">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                </div>
                                                <div class="modal-body">

                                                    <form action="/admin/productos/update/<%= product._id %>" method="POST">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto text-primary">Nombre</label>
                                                                <input type="text" class="form-control" name="name" value="<%= product.name %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Categoria</label>
                                                                <input type="text" class="form-control" name="category" value="<%= product.category %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Marca</label>
                                                                <input type="text" class="form-control" name="brand" value="<%= product.brand %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Articulo</label>
                                                                <input type="text" class="form-control" name="article" value="<%= product.article %>">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Vendedor</label>
                                                            <input type="text" class="form-control" name="supplier" value="<%= product.supplier %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Nombre</label>
                                                                <input type="text" class="form-control" name="model" value="<%= product.name %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">SKU</label>
                                                                <input type="text" class="form-control" name="sku" value="<%= product.sku %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">EAN</label>
                                                                <input type="text" class="form-control" name="eanCode" value="<%= product.eanCode %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Costo</label>
                                                                <input type="text" class="form-control" name="cost" value="<%= product.cost %>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="nombreProducto">Precio</label>
                                                                <input type="text" class="form-control" name="price" value="<%= product.price %>">
                                                            </div>
                                                        </div>
                                                                  
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="expandirProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="expandirProductoModal-<%= product._id %>" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="expandirProductoModalLabel">Detalles de <%= product.name %></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                    border: none;
                                                    font-size: 40px;
                                                    color: red">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                            <div class="col-md-6">
                                                                <p>Nombre: <b><%= product.name %></b></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>Categoria: <b><%= product.category %></b></p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <p>Marca: <b><%= product.brand %></b></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>Articulo: <b><%= product.brand %></b></p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <p>Vendedor: <b><%= product.supplier %></b></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>Modelo: <b><%= product.model %></b></p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <p>SKU: <b><%= product.sku %></b></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>EAN: <b><%= product.eanCode %></b></p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-20px">
                                                            <div class="col-md-6">
                                                                <p>Costo: $ <b><%= product.cost %></b></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>Precio: $ <b><%= product.price %></b></p>
                                                            </div>
                                                        </div>
                                                
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="editarImagenProductoModal-<%= product._id %>" tabindex="-1" aria-labelledby="editarImagenProductoModal" aria-hidden="true"  data-target=".bd-example-modal-lg">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editarImagenProductoModalLabel">Editar Imagen de <%= product.name %></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                                                    border: none;
                                                    font-size: 40px;
                                                    color: red">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <form action="/admin/productos/update-image/<%= product._id %>" method="POST" enctype="multipart/form-data"> 
                                                        <div class="form-group mt-20px">
                                                            <input type="file" class="form-control" name="image" accept="image/*">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Create Modal -->
        <div class="modal fade" id="crearProductoModal" tabindex="-1" aria-labelledby="crearProductoModalLabel" aria-hidden="true"  data-target=".bd-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearProductoModalLabel">Crear Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario para crear un nuevo producto -->
                        <form action="/admin/productos/create" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Nombre</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Categoria</label>
                                    <input type="text" class="form-control" name="category">
                                </div>
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Marca</label>
                                    <input type="text" class="form-control" name="brand">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Articulo</label>
                                    <input type="text" class="form-control" name="article">
                                </div>
                                
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Vendedor</label>
                                <input type="text" class="form-control" name="supplier">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Modelo</label>
                                    <input type="text" class="form-control" name="model">
                                </div>
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="nombreProducto">SKU</label>
                                    <input type="text" class="form-control" name="sku">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">EAN</label>
                                    <input type="text" class="form-control" name="eanCode">
                                </div>
                            </div>
                            <div class="row mt-20px">
                                <div class="col-md-6">
                                    <label for="nombreProducto">Costo</label>
                                    <input type="text" class="form-control" name="cost">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombreProducto">Precio</label>
                                    <input type="text" class="form-control" name="price">
                                </div>
                            </div>
                                    
                            <div class="form-group mt-20px">
                                <label for="nombreProducto">Imagen</label>
                                <input type="file" class="form-control" name="image" accept="image/*">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mt-10px w-65 pt-10px pb-10px" name="submit" value="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>

        <!-- Import Modal -->
        <div class="modal fade" id="importarProductoModal" tabindex="-1" aria-labelledby="importarProductoModal" aria-hidden="true"  data-target=".bd-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearProductoModalLabel">Importar Productos Masivamente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: none;
                        border: none;
                        font-size: 40px;
                        color: red">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/upload/productos" method="POST" enctype="multipart/form-data">                        
                            <div class="input-group">
                                <input type="file" class="form-control bg-transparent border-color-transparent-white-light file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file">
                                <button class="btn btn-base-color btn-hover-animation btn-round-edge btn-box-shadow" type="submit" id="inputGroupFileAddon04">Subir</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
       
        
        <script type="text/javascript" src="/../js/jquery.js"></script>
        <script type="text/javascript" src="/../js/vendors.min.js"></script>
        <script type="text/javascript" src="/../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
